<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="currency" value="BTC"/>
		<add key="curValtoGoAbove" value="27500"/>
		<add key="curValtoGoBelow" value="20000"/>
		<add key="waitTimeIntervalinSeconds" value="30"/>
		<add key="soundToPlay" value="FF7VictoryShort.wav"/>
	
	</appSettings>
</configuration>